<!-- <div class="overlay"></div>
<div class="preloader">
    <div class="loader-wrapper">
        <div class="truck-wrapper">
            <div class="preloader-content"></div>
            <div class="truck">
                <div class="truck-container"></div>
                <div class="glases"></div>
                <div class="bonet"></div>

                <div class="base"></div>

                <div class="base-aux"></div>
                <div class="wheel-back"></div>
                <div class="wheel-front"></div>
                <div class="smoke"></div>
            </div>
        </div>
    </div>
</div> -->
<!-- Preloader -->
<section class="account-section bg_img"
    style="background: url(client/assets/images/frontend/auth/66869002329471720094722.jpg) bottom left;">
    <span class="spark"></span>
    <span class="spark2"></span>
    <div class="account-wrapper sign-up">
        <div class="account-form-wrapper">
            <div class="account-header">
                <div class="logo mb-4">
                    <a [routerLink]="['/home']"><img src="client/assets/images/logo_icon/logo.png" alt="Logo"></a>
                </div>
            </div>
            <div class="w-100 ">
                <!-- <div class="continue-google mb-3">
                    <a class="btn w-100 social-login-btn"
                        href="https://accounts.google.com/o/oauth2/auth?client_id=375851363090-59im488kciqvijtqv3ul9jq3hbaktea0.apps.googleusercontent.com&amp;redirect_uri=https%3A%2F%2Fscript.viserlab.com%2Fviserbus%2Fuser%2Fsocial-login%2Fcallback%2Fgoogle&amp;scope=openid+profile+email&amp;response_type=code&amp;state=syZluhsBrYPoRNqXFOeq2slcNz6Pp2Jz3Bffy8mi">
                        <span class="google-icon">
                            <img src="client/assets/templates/basic/images/google.svg" alt="Google">
                        </span> Register with Google </a>
                </div>

                <div class="w-100 another-login mb-4 text-center">
                    <span class="another-login__or">OR</span>
                </div> -->

                <form class="account-form row" [formGroup]="formGroup" (ngSubmit)="register()">
                    <div class="col-sm-6">
                        <div class="form-group form--group">
                            <label class="content">Full Name</label>
                            <input class="form--control" formControlName="fullName" type="text" required>
                            <div *ngIf="formGroup.get('fullName')?.invalid && formGroup.get('fullName')?.touched">
                                <small class="p-error">Full Name is required.</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form--group">
                            <label class="content">Date Of Birth</label>
                            <input class="form--control" formControlName="birthDate" type="date"
                                placeholder="dd/mm/yyyy" required>
                            <div *ngIf="formGroup.get('birthDate')?.invalid && formGroup.get('birthDate')?.touched">
                                <small class="p-error">Date of Birth is required.</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form--group">
                            <label class="content">E-Mail</label>
                            <input class="form--control" formControlName="email" type="email" required>
                            <div *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">
                                <small class="p-error">Valid Email is required.</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form--group">
                            <label class="content">Phone</label>
                            <input class="form--control" formControlName="phoneNumber" type="text" required>
                            <div *ngIf="formGroup.get('phoneNumber')?.invalid && formGroup.get('phoneNumber')?.touched">
                                <small class="p-error">Phone must start with 0 and have exactly 10 digits.</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form--group">
                            <label class="content">Address</label>
                            <input class="form--control" formControlName="address" type="text" required>
                            <div *ngIf="formGroup.get('address')?.invalid && formGroup.get('address')?.touched">
                                <small class="p-error">Address is required.</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form--group">
                            <label class="content">Username</label>
                            <input class="form--control" formControlName="username" type="text" required>
                            <div *ngIf="formGroup.get('username')?.invalid && formGroup.get('username')?.touched">
                                <small class="p-error">Username is required.</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form--group">
                            <label class="content">Password</label>
                            <p-password formControlName="password" id="password" placeholder="Password"
                                [toggleMask]="true" styleClass="mb-3" inputStyleClass="w-full p-3 md:w-20rem"
                                required></p-password>
                            <div *ngIf="formGroup.get('password')?.invalid && formGroup.get('password')?.touched">
                                <small class="p-error">Password is required.</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form--group">
                            <label class="content">Confirm Password</label>
                            <p-password formControlName="confirmPassword" id="confirmPassword"
                                placeholder="Confirm Password" [toggleMask]="true" styleClass="mb-3"
                                inputStyleClass="w-full p-3 md:w-20rem" required>
                            </p-password>
                            <div *ngIf="formGroup.hasError('mismatch') && formGroup.get('confirmPassword')?.touched">
                                <small class="p-error">Passwords do not match.</small>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form--group custom--checkbox">
                        <input id="agree" name="agree" type="checkbox" required>
                        <label for="agree">
                            I agree with <span>
                                <a class="acount-link" href="../policy/privacy-policy.html" target="_blank">Privacy
                                    Policy</a>,
                                <a class="acount-link" href="../policy/terms-of-service.html" target="_blank">Terms of
                                    Service</a>,
                                <a class="acount-link" href="../policy/ticket-policies.html" target="_blank">Ticket
                                    Policies</a>,
                                <a class="acount-link" href="../policy/refund-policy.html" target="_blank">Refund
                                    Policy</a>
                            </span>
                        </label>
                    </div> -->

                    <div class="form--group">
                        <button class="btn btn--base w-100" type="submit"
                            [disabled]="formGroup.invalid">Register</button>
                    </div>

                    <p class="mb-0">Already have an account? <a [routerLink]="['/login']">Login</a></p>
                </form>
            </div>

        </div>
    </div>
</section>

<!-- <div class="modal fade" id="existModalCenter" role="dialog" aria-labelledby="existModalCenterTitle" aria-hidden="true"
    tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="existModalLongTitle">You are with us</h5>
                <button class="btn--close w-auto" data-bs-dismiss="modal" type="button"><i
                        class="las la-times"></i></button>
            </div>
            <div class="modal-body">
                <strong class="text-dark">You already have an account. Please Sign in.</strong>
            </div>
            <div class="modal-footer">
                <button class="btn btn--danger btn--sm w-auto" data-bs-dismiss="modal" type="button">Close</button>
                <a class="btn btn--base btn--sm w-auto" href="login.html">Login</a>
            </div>
        </div>
    </div>
</div> -->