<div class="grid">
    <div class="col-12">

        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button> -->
                        <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedAgeGroups()" [disabled]="!selectedAgeGroups || !selectedAgeGroups.length"></button> -->
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="bookings" [columns]="cols" responsiveLayout="scroll" [rows]="10"
            [globalFilterFields]="['bookingId', 'fullName', 'email', 'phoneNumber', 'userId', 'busTripId', 'bookingDate', 'total', 'paymentStatus']"
            [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple"
                [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Booking Ticket</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <th *ngFor="let col of cols" pSortableColumn="{{col.field}}">
                            {{col.header}}
                            <p-sortIcon field="{{col.field}}"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-book>
                    <tr>
                        <!-- <td>
                            <p-tableCheckbox [value]="age"></p-tableCheckbox>
                        </td> -->
                        <td><span class="p-column-title">Id</span>
                            {{book.bookingId}}
                        </td>
                        <td>
                            <span class="p-column-title">Full Name</span>
                            {{book.fullName}}
                        </td>
                        <td>
                            <span class="p-column-title">Email</span>
                            {{book.email}}
                        </td>
                        <td>
                            <span class="p-column-title">Trip</span>
                            <b> {{generateTrip(book.busTripId)}}</b> <br> {{generateTripDate(book.busTripId)}}
                        </td>
                        <td>
                            <span class="p-column-title">Ticket</span>
                            {{ countTicket(book.bookingId) }}
                        </td>
                        <td>
                            <span class="p-column-title">Booking Date</span>
                            {{book.bookingDate}}
                        </td>
                        <td><span class="p-column-title">Status</span>
                            <span *ngIf="book.paymentStatus==0" [class]="'product-badge status-lowstock'">Un Paid</span>
                            <span *ngIf="book.paymentStatus!=0"
                                [class]="'product-badge status-' + (book.paymentStatus==1?'instock':'outofstock')">{{book.paymentStatus==1?'Paid':'Canceled'}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-bars" class="p-button-rounded p-button-primary mr-2"
                                    (click)="showDetail(book)"></button>

                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="bookingDetailDialog" [style]="{width: '650px'}" header="Booking Details" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-field">
                    <label for="fullName">Full Name</label>
                    <input id="fullName" pInputText [(ngModel)]="booking.fullName" readonly />
                </div><br>

                <div class="p-field">
                    <label for="email">Email</label>
                    <input id="email" pInputText [(ngModel)]="booking.email" readonly />
                </div><br>

                <div class="p-field">
                    <label for="phoneNumber">Phone Number</label>
                    <input id="phoneNumber" pInputText [(ngModel)]="booking.phoneNumber" readonly />
                </div>

                <h5>Booking Information</h5>
                <div class="p-field">
                    <label for="bookingDate">Booking Date</label>
                    <input id="bookingDate" pInputText [(ngModel)]="booking.bookingDate" readonly />
                </div><br>

                <div class="p-field">
                    <label for="total">Total Price </label>
                    <p-inputNumber id="total" [(ngModel)]="booking.total" mode="currency" currency="USD" locale="en-US" readonly />
                </div><br><br>

                <div class="p-field">
                    <label for="paymentStatus">Payment Status: </label>
                    <span *ngIf="booking.paymentStatus==0" [class]="'product-badge status-lowstock'">Un Paid</span>
                    <span *ngIf="booking.paymentStatus!=0"
                        [class]="'product-badge status-' + (booking.paymentStatus==1?'instock':'outofstock')">{{booking.paymentStatus==1?'Paid':'Canceled'}}</span>
                </div>
                <h5>Booking Details</h5>
                <p-table [value]="detailsBelongBooking" [responsiveLayout]="'scroll'">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Seat Name</th>
                            <th>Age Group</th>
                            <th>Price After Discount</th>
                            <th>Ticket Code</th>
                            <!-- <th>Status</th> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-detail>
                        <tr>
                            <td>{{detail.seatName}}</td>
                            <td>{{detail.ageGroupName}}</td>
                            <td>{{detail.priceAfterDiscount | currency}}</td>
                            <td>{{detail.ticketCode}}</td>
                            <!-- <td>{{getTicketStatus(detail.ticketStatus)}}</td> -->
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" severity="danger" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog>




    </div>
</div>