<section class="inner-banner bg_img" style="background: url(client/assets/images/frontend/breadcrumb/66868cfc051ae1720093948.jpg) center">
    <div class="container">
        <div class="inner-banner-content">
            <h2 class="title">Contact Us</h2>
        </div>
    </div>
</section>
    
    

<section class="contact-section padding-top padding-bottom overflow-hidden">
    <div class="container">
        <div class="text-center">
            <h3 class="title mb-2">Let&#039;s get in touch</h3>
            <p class="mb-5">We are open for any suggestion or just to have a chat</p>
        </div>
        <div class="row pb-80 gy-4 justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="info-item">
                    <div class="icon">
                        <i class="flaticon-location"></i>
                    </div>
                    <div class="content">
                        <h5 class="title">Our Address</h5>
                        Address : Bengla Road Suite Dhaka 1209
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="info-item active">
                    <div class="icon">
                        <i class="flaticon-call"></i>
                    </div>
                    <div class="content">
                        <h5 class="title">Call Us</h5>
                        <a href="tel:+44 45678908">+44 45678908</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="info-item">
                    <div class="icon">
                        <i class="flaticon-envelope"></i>
                    </div>
                    <div class="content">
                        <h5 class="title">Email Us</h5>
                        <a href="https://script.viserlab.com/cdn-cgi/l/email-protection#99fce1f8f4e9f5fcd9fef4f8f0f5b7faf6f4"><span class="__cf_email__" data-cfemail="d1b4a9b0bca1bdb491b6bcb0b8bdffb2bebc">[email&#160;protected]</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-5">
            <div class="col-lg-6">
                <div class="contact-form-wrapper">
                    <h4 class="title mb-4">Have any Questions?</h4>
                    <form class="contact-form row gy-3" method="post">
                        <input type="hidden" name="_token" value="RAwNpTkKcCcI11Tlqyfym5FrDl7GyCjp7TSIJuQe" autocomplete="off">                        <div class=" col-xl-6 col-lg-12 col-md-6">
                            <div class="form--group">
                                <label for="name">Name <span>*</span></label>
                                <input id="name" name="name" type="text" class="form--control" placeholder="Name" value=""  required>
                            </div>
                        </div>
                        <div class=" col-xl-6 col-lg-12 col-md-6">
                            <div class="form--group">
                                <label for="email">Email <span>*</span></label>
                                <input id="email" name="email" type="email" class="form--control" placeholder="Email" value=""  required>
                            </div>
                        </div>
                        <div class=" col-xl-12">
                            <div class="form--group">
                                <label for="subject">Subject <span>*</span></label>
                                <input id="subject" name="subject" type="text" class="form--control" placeholder="Subject" value="" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form--group">
                                <label for="msg">Your Message <span>*</span></label>
                                <textarea id="msg" name="message" class="form--control" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form--group">
                                <button class="contact-button" type="submit">Send Us Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="map-wrapper">
                    <iframe class="map" style="border:0;" src="https://maps.google.com/maps?q=40.201023,-77.200272&amp;hl=es;z=14&amp;output=embed"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
