<div class="ticket-search-bar bg_img padding-top"
    style="background: url(client/assets/templates/basic/images/search_bg.jpg) left center;">
    <div class="container">
        <div class="bus-search-header">
            <form [formGroup]="formgroup" (ngSubmit)="filterSubmit()"
                class="ticket-form ticket-form-two row g-3 justify-content-center">
                <div class="col-md-4 col-lg-3">
                    <div class="form--group">
                        <i class="las la-location-arrow"></i>
                        <select name="pickup" formControlName="departure" class="form--control select2">
                            <option value="0" selected>Pickup Point</option>
                            @for (lo of locations; track lo) {
                            <option value="{{ lo.name }}">{{ lo.name }}</option>
                            }

                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="form--group">
                        <i class="las la-map-marker"></i>
                        <select name="destination" formControlName="arrival" class="form--control select2">
                            <option value="0" selected>Dropping Point</option>
                            @for (lo of locations; track lo) {
                            <option value="{{ lo.name }}">{{ lo.name }}</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="form--group">

                        <i for="date_of_journey" class="las la-calendar-check custom-calendar-icon"></i>
                        <input type="date" date class="form--control date-range custom-date-input" [min]="today"
                            formControlName="dateStart" placeholder="Date of Journey" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="form--group">
                        <button type="submit" class="btn btn--base w-100">Find Tickets</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Ticket Search Starts -->

<!-- Ticket Section Starts Here -->
<section class="ticket-section padding-bottom section-bg">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-3">
                <form id="filterForm">
                    <div class="ticket-filter">
                        <div class="filter-header filter-item">
                            <h4 class="title mb-0">Filter</h4>
                            <button type="reset" (click)="resetfilter()" class="reset-button h-auto">Reset All</button>
                        </div>
                        <div class="filter-item">
                            <h5 class="title">Vehicle Type</h5>
                            <ul class="bus-type">

                                <li *ngFor="let bustype of busTypes" class="custom--checkbox">
                                    <input name="fleetType[]" class="search" value="{{ bustype.name }}" id="Classic"
                                        #type (change)="filterType(type)" type="checkbox">
                                    <label for="Classic"><span><i class="las la-bus"></i>{{ bustype.name
                                            }}</span></label>
                                </li>

                            </ul>
                        </div>

                        <!-- <div class="filter-item">
                            <h5 class="title">Facilities</h5>
                            <ul class="bus-type">
                                <li class="custom--checkbox">
                                    <input name="routes[]" class="search" value="1" id="route.1" #ac (change)="filterAC(ac)" type="checkbox">
                                    <label for="route.1"><span><i class="las la-road"></i>A/C
                                            </span></label>
                                </li>
                                <li class="custom--checkbox">
                                    <input name="routes[]" class="search" value="2" id="route.2" type="checkbox">
                                    <label for="route.2"><span><i class="las la-road"></i>Witchita to Echo
                                                Bass </span>
                                    </label>
                                </li>
                            </ul>
                        </div> -->

                        <!-- <div class="filter-item">
                            <h5 class="title">Schedules</h5>
                            <ul class="bus-type">
                                <li class="custom--checkbox">
                                    <input name="schedules[]" class="search" value="1" id="schedule.1" type="checkbox">
                                    <label for="schedule.1"><span><i class="las la-clock"></i>
                                                06:00 am - 03:30 pm
                                            </span></label>
                                </li>
                                <li class="custom--checkbox">
                                    <input name="schedules[]" class="search" value="2" id="schedule.2" type="checkbox">
                                    <label for="schedule.2"><span>><i class="las la-clock"></i>
                                                07:00 am - 04:00 pm
                                            </span></label>
                                </li>
                                <li class="custom--checkbox">
                                    <input name="schedules[]" class="search" value="3" id="schedule.3" type="checkbox">
                                    <label for="schedule.3"><span><i class="las la-clock"></i>
                                                08:00 am - 04:30 pm
                                            </span></label>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </form>
            </div>

            <div class="col-lg-9">
                <div class="ticket-wrapper" *ngFor="let bt of bustrips">

                    <div class="ticket-item">
                        <div class="ticket-item-inner">
                            <h5 class="bus-name">{{ bt.departureLocationName }} - {{ bt.arrivalLocationName }}</h5>
                            <span class="bus-info">Seat: {{ bt.seatCount }}</span>
                            <span class="ratting"><i class="las la-bus"></i>{{ bt.busTypeName }} - {{ bt.licensePlate
                                }}</span>
                        </div>
                        <div class="ticket-item-inner travel-time">
                            <div class="bus-time">
                                <p class="time">{{ bt.dateStart }}</p>
                                <p class="place">{{ bt.departureLocationName }}</p>
                            </div>
                            <div class=" bus-time">
                                <i class="las la-arrow-right"></i>
                                <p>{{ calculateTimeDifference(bt.dateStart, bt.dateEnd) }}</p>
                            </div>
                            <div class=" bus-time">
                                <p class="time">{{ bt.dateEnd }}</p>
                                <p class="place">{{ bt.arrivalLocationName }}</p>
                            </div>
                        </div>
                        <div class="ticket-item-inner book-ticket">
                            <p class="rent mb-0">
                                ${{ bt.price }}</p>
                            <div class="seats-left mt-2 mb-3 fs--14px">
                                Seats remaining: <div class="d-inline-flex flex-wrap" style="gap:5px">
                                    <span class="badge badge--primary">{{ CountSeatRemaining(bt.busId) }}</span>
                                </div>
                            </div>
                            <!-- <div class="seats-left mt-2 mb-3 fs--14px">
                                Off Days: <div class="d-inline-flex flex-wrap" style="gap:5px">
                                    <span class="badge badge--primary">Friday</span>
                                </div>
                            </div> -->
                            <a class="btn btn--base" *ngIf="bt.status==1"
                                [routerLink]="['/ticket-detail', bt.busTripId ]">Select Seat</a>
                            <span class="btn btn-secondary" *ngIf="bt.status==2">Sold Out</span>
                        </div>
                        <div class="ticket-item-footer">
                            <div class="d-flex content-justify-center">
                                <span>
                                    <strong>Facilities - </strong>
                                    <span class="facilities">Water Bottle</span>
                                    <span class="facilities">Pillow</span>
                                    <span class="facilities">Wifi</span>
                                    <span class="facilities" *ngIf="bt.airConditioned ==1">A/C</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- <div class="ticket-item">
                        <div class="ticket-item-inner">
                            <h5 class="bus-name">Coach - Kansas - Echo Bass</h5>
                            <span class="bus-info">Seat Layout - 2 x 2</span>
                            <span class="ratting"><i class="las la-bus"></i>Coach</span>
                        </div>
                        <div class="ticket-item-inner travel-time">
                            <div class="bus-time">
                                <p class="time">06:00 AM</p>
                                <p class="place">Kansas</p>
                            </div>
                            <div class=" bus-time">
                                <i class="las la-arrow-right"></i>
                                <p>09:30 min</p>
                            </div>
                            <div class=" bus-time">
                                <p class="time">03:30 PM</p>
                                <p class="place">Echo Bass</p>
                            </div>
                        </div>
                        <div class="ticket-item-inner book-ticket">
                            <p class="rent mb-0">
                                $150.00</p>
                            <div class="seats-left mt-2 mb-3 fs--14px">
                                Off Days: <div class="d-inline-flex flex-wrap" style="gap:5px">
                                    <span class="badge badge--primary">Thursday</span>
                                    <span class="badge badge--primary">Friday</span>
                                </div>
                            </div>
                            <a class="btn btn--base" href="ticket/2/coach-kansas-echo-bass.html">Select Seat</a>
                        </div>
                        <div class="ticket-item-footer">
                            <div class="d-flex content-justify-center">
                                <span>
                                    <strong>Facilities - </strong>
                                    <span class="facilities">Water Bottle</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="ticket-item">
                        <div class="ticket-item-inner">
                            <h5 class="bus-name">Coach - Wichita - Echo Bass</h5>
                            <span class="bus-info">Seat Layout - 2 x 2</span>
                            <span class="ratting"><i class="las la-bus"></i>Coach</span>
                        </div>
                        <div class="ticket-item-inner travel-time">
                            <div class="bus-time">
                                <p class="time">07:00 AM</p>
                                <p class="place">Wichita</p>
                            </div>
                            <div class=" bus-time">
                                <i class="las la-arrow-right"></i>
                                <p>09:00 min</p>
                            </div>
                            <div class=" bus-time">
                                <p class="time">04:00 PM</p>
                                <p class="place">Echo Bass</p>
                            </div>
                        </div>
                        <div class="ticket-item-inner book-ticket">
                            <p class="rent mb-0">
                                $50.00</p>
                            <div class="seats-left mt-2 mb-3 fs--14px">
                                Off Days: <div class="d-inline-flex flex-wrap" style="gap:5px">
                                    <span class="badge badge--primary">Wednesday</span>
                                </div>
                            </div>
                            <a class="btn btn--base" href="ticket/3/coach-wichita-echo-bass.html">Select Seat</a>
                        </div>
                        <div class="ticket-item-footer">
                            <div class="d-flex content-justify-center">
                                <span>
                                    <strong>Facilities - </strong>
                                    <span class="facilities">Water Bottle</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="ticket-item">
                        <div class="ticket-item-inner">
                            <h5 class="bus-name">Coach - Kansas - Echo Bass</h5>
                            <span class="bus-info">Seat Layout - 2 x 2</span>
                            <span class="ratting"><i class="las la-bus"></i>Coach</span>
                        </div>
                        <div class="ticket-item-inner travel-time">
                            <div class="bus-time">
                                <p class="time">08:00 AM</p>
                                <p class="place">Kansas</p>
                            </div>
                            <div class=" bus-time">
                                <i class="las la-arrow-right"></i>
                                <p>08:30 min</p>
                            </div>
                            <div class=" bus-time">
                                <p class="time">04:30 PM</p>
                                <p class="place">Echo Bass</p>
                            </div>
                        </div>
                        <div class="ticket-item-inner book-ticket">
                            <p class="rent mb-0">
                                $150.00</p>
                            <div class="seats-left mt-2 mb-3 fs--14px">
                                Off Days: <div class="d-inline-flex flex-wrap" style="gap:5px">
                                    <span class="badge badge--primary">Saturday</span>
                                </div>
                            </div>
                            <a class="btn btn--base" href="ticket/4/coach-kansas-echo-bass.html">Select Seat</a>
                        </div>
                        <div class="ticket-item-footer">
                            <div class="d-flex content-justify-center">
                                <span>
                                    <strong>Facilities - </strong>
                                    <span class="facilities">Water Bottle</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="ticket-item">
                        <div class="ticket-item-inner">
                            <h5 class="bus-name">AC - Wichita - Echo Bass</h5>
                            <span class="bus-info">Seat Layout - 2 x 2</span>
                            <span class="ratting"><i class="las la-bus"></i>AC</span>
                        </div>
                        <div class="ticket-item-inner travel-time">
                            <div class="bus-time">
                                <p class="time">07:00 AM</p>
                                <p class="place">Wichita</p>
                            </div>
                            <div class=" bus-time">
                                <i class="las la-arrow-right"></i>
                                <p>09:00 min</p>
                            </div>
                            <div class=" bus-time">
                                <p class="time">04:00 PM</p>
                                <p class="place">Echo Bass</p>
                            </div>
                        </div>
                        <div class="ticket-item-inner book-ticket">
                            <p class="rent mb-0">
                                $50.00</p>
                            <div class="seats-left mt-2 mb-3 fs--14px">
                                Off Days: <div class="d-inline-flex flex-wrap" style="gap:5px">
                                    <span class="badge badge--primary">Thursday</span>
                                </div>
                            </div>
                            <a class="btn btn--base" href="ticket/5/ac-wichita-echo-bass.html">Select Seat</a>
                        </div>
                        <div class="ticket-item-footer">
                            <div class="d-flex content-justify-center">
                                <span>
                                    <strong>Facilities - </strong>
                                    <span class="facilities">Water Bottle</span>
                                    <span class="facilities">Pillow</span>
                                    <span class="facilities">Wifi</span>
                                </span>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>