<section class="inner-banner bg_img"
    style="background: url(https://script.viserlab.com/viserbus/assets/images/frontend/breadcrumb/66868cfc051ae1720093948.jpg) center">
    <div class="container">
        <div class="inner-banner-content">
            <h2 class="title">History Booked</h2>
        </div>
    </div>
</section>

<!-- booking history Starts Here -->
<section class="dashboard-section padding-top padding-bottom">
    <div class="container">
        <div class="dashboard-wrapper">
            <div class="row pb-60 gy-4 justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="dashboard-widget">
                        <div class="dashboard-widget__content">
                            <p>Total Booked Ticket</p>
                            <h3 class="title">{{ countBookedTicket() }}</h3>
                        </div>
                        <div class="dashboard-widget__icon">
                            <i class="las la-ticket-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="dashboard-widget">
                        <div class="dashboard-widget__content">
                            <p>Total Rejected Ticket</p>
                            <h3 class="title">{{ countCancelTicket() }}</h3>
                        </div>
                        <div class="dashboard-widget__icon">
                            <i class="las la-ticket-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="dashboard-widget" >
                        <div class="dashboard-widget__content" >
                            <p>Total Used Ticket</p>
                            <h3 class="title">{{ countUsedTicket() }}</h3>
                        </div>
                        <div class="dashboard-widget__icon" >
                            <i class="las la-ticket-alt"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="booking-table-wrapper">
                <table class="booking-table">
                    <thead>
                        <tr>
                            <th>Ticket Code</th>
                            <th>AC / Non-Ac</th>
                            <th>Starting Point</th>
                            <th>Dropping Point</th>
                            <th>Start Date</th>
                            <th>Pickup Time</th>
                            <th>Booked Seats</th>
                            <th>Status</th>
                            <th>Fare</th>
                            <!-- <th>Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        @for (book of booking; track book) {
                        @for (detail of getUserListDetailBooking(book.bookingId); track detail) {
                        <tr>
                            <td class="ticket-no" data-label="PNR Number">{{ detail.ticketCode }}</td>
                            <td class="" data-label="AC / Non-Ac">{{ getAc(book.busTripId) }}</td>
                            <td class="pickup" data-label="Starting Point">{{ getDeparture(book.busTripId) }}</td>
                            <td class="drop" data-label="Dropping Point">{{ getArrival(book.busTripId) }}</td>
                            <td class="date" data-label="Journey Date">{{ getDateStart(book.busTripId) }}</td>
                            <td class="time" data-label="Pickup Time">{{ getTimeStart(book.busTripId) }}</td>
                            <td class="seats" data-label="Booked Seats">{{ detail.seatName }}</td>
                            <td data-label="Status">
                                <span *ngIf="detail.ticketStatus ==0" class="badge badge--warning">Used</span>
                                <span *ngIf="detail.ticketStatus ==1 && checkExpired(book.busTripId)" class="badge badge--success">Active</span>
                                <span *ngIf="detail.ticketStatus ==1 && !checkExpired(book.busTripId)" class="badge badge--secondary">Expired</span>
                                <span *ngIf="detail.ticketStatus ==2" class="badge badge--danger">Rejected</span>
                            </td>
                            <td class="fare" data-label="Fare">${{ detail.priceAfterDiscount }}</td>
                            <!-- <td class="action" data-label="Action">
                                <div class="action-button-wrapper">

                                    <i class="las la-info-circle"></i>

                                </div>
                            </td> -->
                        </tr>
                        }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- booking history end Here -->

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Ticket Booking History</h5>
                <button type="button" class="w-auto btn--close" data-bs-dismiss="modal"><i
                        class="las la-times"></i></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn--danger w-auto btn--sm px-3" data-bs-dismiss="modal">
                    Close </button>
            </div>
        </div>
    </div>
</div>