<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Orders</span>
                    <div class="text-900 font-medium text-xl">{{ countOrder }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">24 new </span>
            <span class="text-500">since last visit</span> -->
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Revenue</span>
                    <div class="text-900 font-medium text-xl">${{ countRevenue }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">%52+ </span>
            <span class="text-500">since last week</span> -->
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">User</span>
                    <div class="text-900 font-medium text-xl">{{ countuser }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">520  </span>
            <span class="text-500">newly registered</span> -->
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Feadback</span>
                    <div class="text-900 font-medium text-xl">152 Unread</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-comment text-purple-500 text-xl"></i>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">85 </span>
            <span class="text-500">responded</span> -->
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>First Dataset</h5>
            <div class="p-field p-grid">
                <label for="fromDate1" class="col-12 md:col-2 md:mb-0">From:</label>
                <!-- <div class=" md:col-3"> -->
                <p-calendar [(ngModel)]="fromDate1" id="fromDate1" dateFormat="dd/mm/yy" showIcon="true"
                    (ngModelChange)="onDateChange()"></p-calendar>

                <!-- </div> -->
                <label for="toDate1" class="col-12 md:col-2 md:mb-0"> -> To:</label>
                <!-- <div class=" md:col-3"> -->
                <p-calendar [(ngModel)]="toDate1" id="toDate1" dateFormat="dd/mm/yy" showIcon="true"
                    (ngModelChange)="onDateChange()"></p-calendar>

                <!-- </div> -->
            </div>

            <h5>Second Dataset</h5>
            <div class="p-field p-grid">
                <label for="fromDate2" class="col-12 md:col-2 md:mb-0">From:</label>
                <!-- <div class=" md:col-3"> -->
                <p-calendar [(ngModel)]="fromDate2" id="fromDate2" dateFormat="dd/mm/yy" showIcon="true"
                    (ngModelChange)="onDateChange()"></p-calendar>

                <!-- </div> -->
                <label for="toDate2" class="col-12 md:col-2 md:mb-0"> -> To:</label>
                <!-- <div class=" md:col-3"> -->
                <p-calendar [(ngModel)]="toDate2" id="toDate2" dateFormat="dd/mm/yy" showIcon="true"
                    (ngModelChange)="onDateChange()"></p-calendar>

                <!-- </div> -->
            </div>

         

        </div>
        <div class="card">
            <h5>First Dataset</h5>
            <p-chart #chart1 type="line" [data]="chartData1" [options]="chartOptions"></p-chart>
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card">
            <div class="p-field ">
                <h2 class="col-12 md:col-6"><strong>Revenue</strong></h2>
                <span class="col-12 md:col-6" style="font-size: 20px;">
                    <strong [ngStyle]="{'color': revenueDifference > 0 ? 'green' : 'red'}">
                      {{ revenueDifference >0 ? '+' + revenueDifference:revenueDifference }}  $
                      </strong>
                </span>
                <!-- Replace this with the actual data -->
            </div>
            <div class="p-field">
                <h2 class="col-12 md:col-6"><strong>Sale Ticket</strong></h2>
                <span class="col-12 md:col-6" style="font-size: 20px;">
                    <strong [ngStyle]="{'color': ticketDifference > 0 ? 'green' : 'red'}">{{ ticketDifference >0 ? '+' + ticketDifference:ticketDifference }} tickets</strong>
                </span>
                <!-- Replace this with the actual data -->
            </div>
        </div>
  
        <div class="card">
            <h5>Second Dataset</h5>
            <p-chart #chart2 type="line" [data]="chartData2" [options]="chartOptions"></p-chart>
        </div>


    </div>
</div>