<p-toast></p-toast>
<section class="inner-banner bg_img"
        style="background: url(https://script.viserlab.com/viserbus/assets/images/frontend/breadcrumb/66868cfc051ae1720093948.jpg) center">
        <div class="container">
            <div class="inner-banner-content">
                <h2 class="title">Payment Methods</h2>
            </div>
        </div>
    </section>

    <div class="container padding-top padding-bottom">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <form method="post" class="deposit-form">

                    <div class="gateway-card">
                        <div class="row justify-content-center gy-sm-4 gy-3">
                            <div class="col-12">
                                <h5 class="payment-card-title">Payment</h5>
                            </div>
                            <div class="col-lg-6">
                                <div class="payment-system-list is-scrollable gateway-option-list">
                                    <label for="bank_transfer" class="payment-item  gateway-option">
                                        <div class="payment-item__info">
                                            <span class="payment-item__check"></span>
                                            <span class="payment-item__name">Pay pal</span>
                                        </div>
                                        <div class="payment-item__thumb">
                                            <img class="payment-item__thumb-img"
                                                src="./assets/demo/images/payment-icon/paypal.png"
                                                alt="payment-thumb" width="100" height="auto">
                                        </div>
                                        <input class="payment-item__radio gateway-input" id="bank_transfer" hidden
                                            type="radio" name="gateway" value="1000" (change)="onPaymentMethodChange('paypal')">
                                    </label>
                                    <label for="bank_wire" class="payment-item  gateway-option">
                                        <div class="payment-item__info">
                                            <span class="payment-item__check"></span>
                                            <span class="payment-item__name">VN Pay</span>
                                        </div>
                                        <div class="payment-item__thumb">
                                            <img class="payment-item__thumb-img"
                                                src="./assets/demo/images/payment-icon/vnpay.png"
                                                alt="payment-thumb">
                                        </div>
                                        <input class="payment-item__radio gateway-input" id="bank_wire" hidden
                                            type="radio" name="gateway" value="1001" (change)="onPaymentMethodChange('vnpay')">
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="payment-system-list p-3">
                                    <div class="deposit-info">
                                        <div class="deposit-info__title">
                                            <p class="text mb-0">Amount</p>
                                        </div>
                                        <div class="deposit-info__input">
                                            <div class="deposit-info__input-group input-group">
                                                <span class="deposit-info__input-group-text">$</span>
                                                <input type="text" class="form-control form--control amount"
                                                    name="amount" placeholder="00.00" value="{{ booking.total }}" readonly
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div *ngIf="selectedPaymentMethod === 'paypal'">
                                        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                                    </div>

                                    <div *ngIf="selectedPaymentMethod === 'vnpay'">
                                        <button type="button" class="btn btn-primary w-100 mt-4" (click)="createVnPayPayment()">
                                            Pay with VN Pay
                                        </button>
                                    </div>

                                
                                    <div class="info-text pt-3">
                                        <p class="text">Ensuring your funds grow safely through our secure payment
                                            process with world-class payment options.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
