<section class="inner-banner bg_img" style="background: url(client/assets/images/frontend/breadcrumb/66868cfc051ae1720093948.jpg) center">
    <div class="container">
        <div class="inner-banner-content">
            <h2 class="title">FAQs</h2>
        </div>
    </div>
</section>
    
    
                        <section class="faq-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="section-header text-center">
                    <h2 class="title">Frequently Asked Questions</h2>
                    <p>Nobis minus earum perferendis nemo cupiditate optio, rem neque incidunt quia laborum ut praesentium corporis quam exercitationem, atque illo aut excepturi cum.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="faq-wrapper">
                                                                        <div class="faq-item">
                                <div class="faq-title">
                                    <span class="icon"></span>
                                    <h5 class="title">Can we choose corporation buses from anywhere?</h5>
                                </div>
                                <div class="faq-content">
                                    <p>Orangu ipsum dolor sit amet consectetur adipisicing elit. Sed minima porro aliquid eius laudantium ad quod a corrupti impedit, reiciendis iusto ut aperiam tenetur fuga repellendus tempore necessitatibus omnis libero?</p>
                                </div>
                            </div>
                                                                                                                                            <div class="faq-item">
                                <div class="faq-title">
                                    <span class="icon"></span>
                                    <h5 class="title">Can we choose corporation buses from anywhere?</h5>
                                </div>
                                <div class="faq-content">
                                    <p>Orangu ipsum dolor sit amet consectetur adipisicing elit. Sed minima porro aliquid eius laudantium ad quod a corrupti impedit, reiciendis iusto ut aperiam tenetur fuga repellendus tempore necessitatibus omnis libero?</p>
                                </div>
                            </div>
                                                                                                                                            <div class="faq-item">
                                <div class="faq-title">
                                    <span class="icon"></span>
                                    <h5 class="title">What is Lorem Ipsum?</h5>
                                </div>
                                <div class="faq-content">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                            </div>
                                                            </div>
            </div>
            <div class="col-lg-6">
                <div class="faq-wrapper">
                                                                                                                    <div class="faq-item">
                                <div class="faq-title">
                                    <span class="icon"></span>
                                    <h5 class="title">Can we choose corporation buses from anywhere?</h5>
                                </div>
                                <div class="faq-content">
                                    <p>Orangu ipsum dolor sit amet consectetur adipisicing elit. Sed minima porro aliquid eius laudantium ad quod a corrupti impedit, reiciendis iusto ut aperiam tenetur fuga repellendus tempore necessitatibus omnis libero?</p>
                                </div>
                            </div>
                                                                                                                                            <div class="faq-item">
                                <div class="faq-title">
                                    <span class="icon"></span>
                                    <h5 class="title">Why do we use it?</h5>
                                </div>
                                <div class="faq-content">
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                </div>
                            </div>
                                                                                                        </div>
            </div>
        </div>
    </div>
</section>
                    <!-- Blog Section Starts Here -->
<section class="blog-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-header text-center">
                    <h2 class="title">Recent Blog Post</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center g-4">
                        <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="post-item">
                    <div class="post-thumb">
                        <img src="client/assets/images/frontend/blog/thumb_66a339934b50c1721973139.png" alt="blog">
                    </div>
                    <div class="post-content">
                        <ul class="post-meta">
                            <li>
                                <span class="date"><i class="las la-calendar-check"></i>26 Jul 2024</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="blog/lorem-ipsum-is-simply-dummy.html">Lorem Ipsum is simply dummy</a></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing a...</p>
                    </div>
                </div>
            </div>
                        <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="post-item">
                    <div class="post-thumb">
                        <img src="client/assets/images/frontend/blog/thumb_66a3399ae9b3b1721973146.png" alt="blog">
                    </div>
                    <div class="post-content">
                        <ul class="post-meta">
                            <li>
                                <span class="date"><i class="las la-calendar-check"></i>26 Jul 2024</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="blog/the-standard-lorem-ipsum-passage-used-since-the-1500s.html">The standard Lorem Ipsum passage, used since the 1500s</a></h4>
                        <p>&quot;Lorem ipsum dolor sit amet, consectetur adipiscin...</p>
                    </div>
                </div>
            </div>
                        <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="post-item">
                    <div class="post-thumb">
                        <img src="client/assets/images/frontend/blog/thumb_66a339b749cad1721973175.png" alt="blog">
                    </div>
                    <div class="post-content">
                        <ul class="post-meta">
                            <li>
                                <span class="date"><i class="las la-calendar-check"></i>26 Jul 2024</span>
                            </li>
                        </ul>
                        <h4 class="title"><a href="blog/why-do-we-use-it.html">Why do we use it?</a></h4>
                        <p>Contrary to popular belief, Lorem Ipsum is not sim...</p>
                    </div>
                </div>
            </div>
                    </div>
    </div>
</section>
