<section class="inner-banner bg_img"
    style="background: url(https://script.viserlab.com/viserbus/assets/images/frontend/breadcrumb/66868cfc051ae1720093948.jpg) center">
    <div class="container">
        <div class="inner-banner-content">
            <h2 class="title">Change Password</h2>
        </div>
    </div>
</section>

<div class="container padding-top padding-bottom">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-md-6">
            <div class="profile__content__edit p-0">
                <div class="p-4">
                    <form action="" method="post" class="register" [formGroup]="passwordFormGroup">
                        <input type="hidden" name="_token" value="glPUSeblg4k1rirwfOIrqogiQc6FLwpjnGM0Z62M"
                            autocomplete="off">
                        <div class="row gy-3">
                            <div class="form-group col-12">
                                <label class="form-label">Current Password</label>
                                <input type="password" class="form-control form--control" name="current_password"
                                    required autocomplete="current-password" formControlName="CurrentPassword">
                            </div>
                            <div class="form-group col-12">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control form--control " name="password" required
                                    autocomplete="off" formControlName="Password">
                                <<div *ngIf="passwordFormGroup.get('password')?.invalid && passwordFormGroup.get('password')?.touched">
                                    <small class="p-error" *ngIf="passwordFormGroup.get('password')?.errors?.['required']">
                                      Password is required.
                                    </small>
                                    <small class="p-error" *ngIf="passwordFormGroup.get('password')?.errors?.['minlength']">
                                      Password must be at least 8 characters long.
                                    </small>
                                    <small class="p-error" *ngIf="passwordFormGroup.get('password')?.errors?.['pattern']">
                                      Password must contain at least one uppercase letter, one lowercase letter, and one number.
                                    </small>
                                  </div>
                                  
                            </div>
                            <div class="form-group col-12">
                                <label class="form-label">Confirm Password</label>
                                <input type="password" class="form-control form--control" name="password_confirmation"
                                    required autocomplete="off" formControlName="ConfirmPassword">
                                <small class="p-error" *ngIf="passwordFormGroup.errors?.['mismatch']">
                                    Passwords do not match.
                                </small>
                            </div>
                            <div class="form-group col-12">
                                <button type="submit" class="btn btn--base w-100"  (click)="savePassword()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>