<div class="header-top">
    <div class="container">
        <div class="header-top-area">
            <ul class="left-content">
                <li>
                    <i class="las la-phone"></i>
                    <a href="tel:+44 45678908">
                        +44 45678908
                    </a>
                </li>
                <li *ngIf="isLoggedIn">
                    <i class="las la-envelope-open"></i>
                    <span>{{ userEmail }}</span>
                  </li>
            </ul>

            <div class="right-content d-flex flex-wrap" style="gap:10px">
                <ul class="header-login">
                  <!-- Show Sign In/Sign Up when not logged in -->
                  <li *ngIf="!isLoggedIn"><a class="sign-in" [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i>Sign In</a></li>
                  <li *ngIf="!isLoggedIn">/</li>
                  <li *ngIf="!isLoggedIn"><a class="sign-up" [routerLink]="['/register']"><i class="fas fa-user-plus"></i>Sign Up</a></li>
        
                  <!-- Show Profile and Sign Out when logged in -->
            
                  
                  <li *ngIf="isLoggedIn">/</li>
                  <!-- <li *ngIf="isLoggedIn"><a class="sign-up" [routerLink]="['/profile']"><i class="pi pi-user-edit"></i>Your Profile</a></li> -->
                  <li *ngIf="isLoggedIn" class="dropdown">
                    <a class="sign-up dropdown-toggle" style="cursor: pointer;" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="pi pi-user-edit"></i> Your Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                      <li><a class="dropdown-item" [routerLink]="['/profile']">Your Information</a></li>
                      <li><a class="dropdown-item" [routerLink]="['/changepassword']">Change Password</a></li>
                      <li><a class="dropdown-item" [routerLink]="['/history-booking']">History Booking</a></li>
                      <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a></li>
                    </ul>
                  </li>
                  <li *ngIf="isLoggedIn">/</li>
                </ul>
              </div>
        </div>
    </div>
</div>